* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: flex-start;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  padding: 0px;
}
/* 
   1.=> .logo
   2.=> .buttons
   3.=> .search
      => input
   4.=> card
*/

.logo {
  height: auto;
  width: 160px;
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100px; */
  /* margin-right: 10px; */
  flex: 0 0 100px;
  position: relative;
  /* scale: 1.1; */
  padding-left: 20px;
  padding-right: 20px;

  /* background-color: yellow; */
}
.buttons {
  padding-left: 20px;
  display: flex;
  gap: 20px;
  flex: 0 0 max-content;
  font-weight: 700;
  font-size: 14px;
  padding-left: 0px;

  /* background-color: orange; */
}
.buttons > * {
  cursor: pointer;
  position: relative;
  margin: 0px;
}
.buttons > *::before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 3px pink solid;
  top: 47px;
  display: none;
}
.buttons > *:hover .buttons p::before {
  display: block;
}

.search {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}
.search form {
  display: flex;
  max-width: unset !important;
  width: 100% !important;
  margin: 0px !important;
  min-width: unset !important;
  min-height: unset !important;
  align-items: center;
  max-height: 40px !important;
  height: 100% !important;
  opacity: 1 !important;
  padding: 5px;
  /* background-color: lightgrey; */
  background-color: #f5f5f6;
  border: #f5f5f6 2px solid;
}
.search form input[type="text"] {
  background-color: #f5f5f6;
  margin-left: 10px;
  border: none;
  outline: none;
  height: 100%;
}
.search form input[type="text"]:focus {
  background-color: white;
}
.search form:has(input[type="text"]:focus) {
  background-color: white;
}
.nav-left-items {
  flex: 0 0 max-content;
  /* background-color: purple; */
  padding-right: 20px;
  margin-left: 200px;
  display: flex;
  gap: 10px;
}
.nav-left-items img {
  cursor: pointer;
}
.nav-left-items a {
  display: flex;
}
.nav-icons {
  width: max-content !important;
  height: max-content !important;
}

.userProfile {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  font-size: 20px;
  border: 2px solid silver;
  gap: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.userProfile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid lightskyblue;
}

.nav-left-items img {
  height: auto;
  width: 40px;
}

.main {
  display: flex;
  min-height: calc(100vh - 90px);
}
.aside {
  flex: 0 0 300px !important;
  padding: 10px !important;
  background-color: white;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
  border-right: rgba(0, 0, 0, 0.05) 1px solid;
}

.ProductContainer {
  flex: 1 1 auto;
  max-height: 100% !important;
  display: flex;
  gap: 60px;
  padding: 0px 20px;
  flex-wrap: wrap;
  overflow-y: visible;
  justify-content: center;
  /* background-color: rgb(242, 215, 249); */
  position: relative;
  background-color: whitesmoke;
}
.ProductCard {
  width: 320px;
  height: 530px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  /* background-color: rgb(251, 241, 255); */
  border-radius: 5px;
  cursor: pointer;
}
.ProductCard p {
  margin-bottom: 5px;
}
.ProductCard > * {
  padding: 5px;
}
.product-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.ProductCard img {
  width: 300px;
  height: 410px;
  object-fit: cover;
  padding: 0px;
}
.product-discount {
  color: rgb(227, 103, 36);
  font-size: 0.9rem;
  font-weight: bold;
}
.product-strike_price {
  text-decoration: line-through;
  display: inline-block;
  margin-right: 10px;
}
.product-discounted_price {
  display: inline-block;
  color: rgb(25, 184, 25);
  font-size: 1.3rem;
  font-weight: bolder;
}

.aside .form-groups ~ .form-group {
  margin-top: 20px !important;
}
.aside .form-groups input {
  margin-right: 10px;
  margin-left: 20px;
}
.aside .form-groups h3 {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
}
.secondaryNavHeader {
  font-size: 16px;
  font-weight: 700;
  margin: 20px;
}

.detail-group {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}

/*********
* productDetailsContainer
*********/
.productDetailsContainer {
  display: flex;
  margin-top: 20px;
}
.product-images {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  justify-content: center;
  gap: 20px;
}
.product-images img {
  width: 45%;
  height: 300px;
  object-fit: cover;
  box-sizing: content-box;
}
.product-details {
  flex: 1 1 50%;
}
.product-details-title {
  font-size: 24px;
}
.product-details-brand {
  font-size: 24px;
  font-weight: 400;
  color: rgb(148, 147, 147);
}
.rating-wrapper {
  display: flex;
  border: 2px solid rgb(56, 90, 5);
  border-radius: 3px;
  width: max-content;
  margin: 10px 0px;
}
.rating-wrapper > * {
  /* padding: 3px; */
  margin: 4px 7px;
}
.product-details-rating_count {
  display: inline-block;
  margin: 4px 7px;
  padding-right: 5px;
  border-right: solid 1px rgb(116, 114, 114);
}
.product-details-rating {
  margin-left: 0px;
}
.price-wrapper {
  display: flex;
  gap: 10px;
  font-size: 24px;
}
.product-details-discounted_price {
  font-weight: 600;
}
.product-details-strike_price {
  text-decoration: line-through;
  color: rgb(158, 164, 164);
}
.green-text {
  color: green;
}
.product-details-discount {
  color: orange;
}
.product-details-sizes {
  display: flex;
  gap: 15px;
  margin: 10px 0px;
  cursor: pointer;
}
.size-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid pink;
  transition: all 0.3s ease;
  color: black;
}
.size-circle:hover {
  color: rgb(242, 54, 86);
  background-color: pink;
  scale: 1.04;
}
.profileOptions {
  position: absolute;
  /* background-color: red; */
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#b7b7bd),
    to(#afc5f9)
  );
  background-image: linear-gradient(90deg, #bfbfdb, #859acb);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 5px;
  height: max-content;
  width: 200px;
  top: 100%;
  right: 0px;
  /* overflow-x: hidden; */
  z-index: 100;
}

.profileOptions button {
  display: block;
  width: 70%;
  margin: 0 auto 20px auto;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 0px;
  border-top: 1px solid silver;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}

.cart_page {
  display: flex;
  gap: 20px;
  padding: 20px;
  min-height: 431px;
  background-color: aliceblue;
}
.cart_page_h2 {
  background-color: aliceblue;
}
.cartItem_container {
  /* background-color: gold; */
  background-color: lightpink;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* display: flex; */
  flex: 1 1 auto;
  border-radius: 8px;
}
.product_card {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  min-height: max-content;
  /* background-color: red; */
}
.product_card img {
  border-radius: 8px;
}
.price_calculation {
  background-color: lightpink;
  /* background-color: aquamarine; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  flex: 0 0 400px;
  border-radius: 8px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
}
.price_calculation a {
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  background: white;
  transition: 0.3s ease all;
  text-decoration: none;
}
.price_calculation p {
  font-size: 50px;
  font-weight: bold;
}
.price_calculation a:hover {
  transform: translateY(-3px);
}
.cartImage {
  display: block;
  margin: 0 auto;
}
.loadingGif {
  height: 200px;
  width: auto;
  position: absolute;
  inset: 0;
  margin: auto;
  /* object-fit: contain; */
  /* filter: invert(); */
}

/* responsiveness */
@media only screen and (max-width: 930px) {
  .navbar {
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
  }

  .aside {
    width: 70px;
    padding: 0 !important;
    width: 5px !important;
  }
}

.pagination-buttons {
  flex: 0 0 100%;
  display: flex;
  gap: 10px;
  margin: 20px;
  justify-content: center;
}

.secondary-nav {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f9f9ff),
    to(#dee8ff)
  );
  background-image: linear-gradient(90deg, #f9f9ff, #dee8ff);
  /* padding: 11px; */
}
.saleimage {
  height: 530px;
  width: 100%;
  object-fit: cover;
}
.ProductCard {
  position: relative;
}
.product-rating {
  position: absolute;
  top: 375px;
  left: 20px;
  background-color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.product-rating:hover {
  text-decoration: none;
  color: black;
}
.ProductCard > p {
  text-decoration: none !important;
  margin: 0px;
  line-height: 25px;
}
.ProductCard > p:hover {
  text-decoration: none !important;
  color: black;
}
.product-title,
.product-brand {
  text-decoration: none !important;
  color: black;
}
.product-title:hover .product-brand:hover {
  text-decoration: none !important;
  color: black;
}
.card-group {
  display: flex;
  gap: 5px;
  align-items: center;
}
a {
  text-decoration: none !important;
}

.profileOptions_profile {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.profileOptions_profile img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.profileIconContainer {
  position: relative;
}
.welcome_message {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
