*{
  box-sizing: border-box;
  margin: 0;
}
.navbar{
   display: flex;
   align-items: center;
   height: 90px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;   /* background-color: gray; */
}
/* 
   1.=> .logo
   2.=> .buttons
   3.=> .search
      => input
   4.=> card
*/

.logo{
  height: auto;
  width: 100px;
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100px; */
  flex: 0 0 100px; 
  padding-right: 0px 20px;
  /* background-color: yellow; */
}
.buttons{
  padding-left: 20px;
  display: flex;
  gap: 10px;
  flex: 0 0 max-content;
  /* background-color: orange; */
}

.search{
  flex: 1 1 auto;
  /* background-color: brown; */
}
.search input[type="text"]{
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 50px;
  border-radius: 5px;
  padding: 0px 10px;
}
.cart{
  flex: 0 0 max-content;
  /* background-color: purple; */
  padding-right: 20px;
}

.cart img{
  height: auto;
    width: 40px;
}


.main{
  display: flex;
  height: calc(100vh - 90px);
}
.aside{
  /* flex-grow flex-shink flex-basis*/
  flex: 0 0 300px;
  /* background-color: yellow; */
  padding: 10px;
} 
.ProductContainer{
  flex: 1 1 auto;
  height: 100%;
  max-height: 100%;
  /* background-color: red; */
  display: flex;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
  background-color: rgb(242, 215, 249);
}
.ProductCard{
  width: 300px;
  height: 580px;
  background-color: rgb(251, 241, 255);
  border-radius: 5px;
  cursor: pointer;
}
.ProductCard > *{
  padding: 5px;
}
.product-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.ProductCard img{
  width: 300px;
  height: 410px;
  object-fit: cover;
  padding: 0px;
}
.product-discount{
  color: rgb(227, 103, 36);
  font-size: .9rem;
  font-weight: bold;
}
.product-strike_price{
  text-decoration: line-through;
  display: inline-block;
  margin-right: 10px;
}
.product-discounted_price{
  display: inline-block;
  color: rgb(25, 184, 25);
  font-size: 1.3rem;
  font-weight: bolder;
}

.aside .form-group ~ .form-group{
  margin-top: 20px;
}

/***********************
* productDetailsContainer
***********************/
.productDetailsContainer{
  display: flex;
  margin-top: 20px;
}
.product-images{
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  justify-content: center;
  gap: 20px;
}
.product-images img{
  width: 45%;
  height: 300px;
  object-fit: cover;
  box-sizing: content-box;
}
.product-details{
  flex: 1 1 50%;
}
.product-details-title{
  font-size: 24px;
}
.product-details-brand{
  font-size: 24px;
  font-weight: 400;
  color: rgb(148, 147, 147);
}
.rating-wrapper{
  display: flex;
  border: 2px solid rgb(56, 90, 5);
  border-radius: 3px;
  width: max-content;
  margin: 10px 0px;
}
.rating-wrapper > * {
  /* padding: 3px; */
  margin: 4px 7px;
}
.product-details-rating_count{
  display: inline-block;
  margin: 4px 7px;
  padding-right: 5px;
  border-right:  solid 1px rgb(116, 114, 114);
}
.product-details-rating{
  margin-left: 0px;
}
.price-wrapper{
  display: flex;
  gap: 10px;
  font-size: 24px;
}
.product-details-discounted_price{
  font-weight: 600;
}
.product-details-strike_price{
  text-decoration: line-through;
  color: rgb(158, 164, 164);
}
.green-text{
  color: green;
}
.product-details-discount{
  color: orange;
}
.product-details-sizes{
  display: flex;
  gap: 15px;
  margin: 10px 0px;
  cursor: pointer;
}
.size-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid pink;
  transition: all .3s ease;
  color: black;
}
.size-circle:hover{
  color: rgb(242, 54, 86);
  background-color: pink;
  scale: 1.04;
}